@tailwind base;
@tailwind components;
@tailwind utilities;
@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "tom-select/dist/css/tom-select.bootstrap5.min.css";
@import "toastify-js/src/toastify.css";
